<table>
  <% @elements.each do |t| %>
    <% if current_user.id == 1 || !t.hide %>
      </td><td><%= t.texto %></td></tr>
    <% end %>
  <% end %>
</table>

<%= form_for @element, as: :chat, url: chats_path, method: 'post' do |f| %>
    <%= f.text_field :texto, autocomplete: :off %>
    <%= f.submit "OK" %>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Log out', destroy_user_session_path, method: :delete) %>        
<% end %>